<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hmingle.mapper.HeartMapper">
	
	<insert id="addHeart" parameterType="com.hyundai.hmingle.controller.dto.request.HeartRequest">
		INSERT INTO heart (id, post_id, member_id)
		VALUES (SEQ_HEART_ID.nextval, #{postId}, #{memberId})
		<selectKey keyColumn="id" resultType="Long" order="AFTER">			
			SELECT id
			FROM heart
			WHERE 1=1
		</selectKey> 
	</insert>
		
	<update id="removeHeart" parameterType="com.hyundai.hmingle.controller.dto.request.HeartRequest">	
		UPDATE heart SET removed=1, MODIFIED_DATE = sysdate
		WHERE post_id=#{postId} AND member_id=#{memberId}
		<selectKey keyColumn="id" resultType="Long" order="BEFORE">			
			SELECT id
			FROM heart
			WHERE post_id=#{postId} AND member_id=#{memberId}
		</selectKey> 
	</update>
	
	<select id="findHeart" parameterType="com.hyundai.hmingle.controller.dto.request.HeartRequest">
		SELECT id
		FROM heart
		WHERE post_id=#{postId} AND member_id=#{memberId} AND removed=0
	</select>
	
</mapper>
