<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hmingle.mapper.ImageMapper">

	<select id="getFourImages">
		SELECT image_url
		FROM image
		WHERE post_id=#{postId} AND removed=0
	</select>

	<select id="findImageUrlByMemberId" parameterType="myPostMapperRequest" resultType="myPostMapperResponse">
		select p.id as id, image_url
		from post p
	 		left join image im
				on p.id = im.post_id
		where member_id = #{memberId} and orders = 1 and p.removed = 0
		order by p.id desc
		offset #{startRow} rows fetch next #{size} rows only
	</select>

	<select id="findImageUrlLikedByMemberId" parameterType="myPostMapperRequest" resultType="myPostMapperResponse">
		select p.id as id, image_url
		from post p
		join heart h
			on h.post_id = p.id
		join image im
			on im.post_id = p.id
		where h.member_id = #{memberId} and im.orders = 1 and p.removed = 0 and h.removed = 0
		order by p.id desc
		offset #{startRow} rows fetch next #{size} rows only
	</select>

	<select id="findByPostId" parameterType="imagesMapperRequest" resultType="postMapperResponse">
		SELECT p.id as postId, i.image_url as image
		FROM image i
				 JOIN post p ON i.post_id = p.id
		WHERE p.channel_id = #{channelId} AND p.removed = 0 AND i.orders = 1 AND i.removed = 0
		ORDER BY i.id DESC
		OFFSET #{startRow} ROWS FETCH NEXT #{size} ROWS ONLY
	</select>

	<insert id="saveAll" parameterType="com.hyundai.hmingle.controller.dto.request.ImageCreateRequest">
		insert into image (
		id, post_id, orders, image_url
		)
		select
		SEQ_IMAGE_ID.nextval,
		postId,
		orders,
		saveName
		from (
		<foreach collection="list" item="image" separator="union all">
			select
			#{image.postId} postId,
			#{image.sequence} orders,
			#{image.saveName} saveName
			from dual
		</foreach>
		)
	</insert>

	<update id="removeImages">
		UPDATE image SET removed=1, MODIFIED_DATE = sysdate
		WHERE post_id=#{postId}
	</update>

</mapper>
