<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hmingle.mapper.ImageMapper">
	
	<insert id="saveAll" parameterType="list">
		INSERT INTO image (
			sequence,
			post_id,
			image_url,
			created_date
		VALUES 
			<foreach item="image" collection="list" separator=",">
				(
					#{image.sequence},
					#{image.postId},				
					#{image.saveName},
					sysdate
				)
			</foreach>
	</insert>
</mapper>