<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hmingle.mapper.ImageMapper">

<insert id="saveAll" parameterType="imageCreateRequest">
	insert into image (
		id, post_id, orders, image_url
	)
    select
    	SEQ_IMAGE_ID.nextval,
        postId,
        orders,
        saveName
     from (
     	<foreach collection="list" item="image" separator="union all">
     		select
     			#{image.postId} postId,
     			#{image.sequence} orders,
     			#{image.saveName} saveName
   			from dual
     	</foreach>
     ) 
</insert>

<select id="getImages">
	SELECT image_url
	FROM image
	WHERE post_id=#{postId}
</select>

</mapper>