<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hmingle.mapper.PostMapper">
	
	<insert id="save" parameterType="com.hyundai.hmingle.controller.dto.request.PostCreateRequest" >
		INSERT INTO post (id, title, content, member_id, channel_id, read_count, created_date)
		VALUES (SEQ_POST_ID.nextval, #{title}, #{content}, #{memberId}, #{channelId}, 0, sysdate)	
		<selectKey keyColumn="id" resultType="Long" order="AFTER">
			SELECT id
			FROM post
			WHERE 1=1;
		</selectKey>
	</insert>
	
	<select id="getPost">
		SELECT t1.*, t2.likes_count
		FROM (
	         SELECT p.id as post_id, p.title, p.content, p.read_count, m.nickname
	    	 FROM post p, member m
	   		 WHERE p.member_id=m.id and p.id=#{postId}
	   		 ) t1 
	    INNER JOIN (
	   		 	SELECT post_id, count(id) as likes_count
	   		 	FROM heart
	   		 	GROUP BY post_id
	   		 		) t2
	   	ON t1.post_id = t2.post_id 
	</select>
	
	<select id="findMember">
		SELECT member_id
		FROM post
		WHERE id=#{postId}
	</select>
</mapper>