<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hmingle.mapper.TokenMapper">

    <insert id="save" parameterType="token" >
        insert into token (id, member_id, access_token, refresh_token)
        values (seq_token_id.nextval, #{member.id}, #{accessToken}, #{refreshToken})
    </insert>

    <update id="update" parameterType="token" >
        update token
        set access_token = #{accessToken},
            refresh_token = #{refreshToken}
        where member_id = #{member.id}
    </update>

    <resultMap id="tokenResultMap" type="Token">
        <id property="id" column="id"/>
        <result property="accessToken" column="access_token"/>
        <result property="refreshToken" column="refresh_token"/>
        <collection property="member" ofType="Member" resultMap="memberResultMap"/>
    </resultMap>

    <resultMap id="memberResultMap" type="Member">
        <id property="id" column="member_id"/>
    </resultMap>

    <select id="findByMemberId" parameterType="long" resultMap="tokenResultMap">
        select id, member_id, access_token, refresh_token
        from token
        where member_id = #{memberId}
    </select>
</mapper>