<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!-- SqlSessionTemplate 관련 설정 -->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 별칭 작성 부분 -->
    <typeAliases>
        <typeAlias type="com.hyundai.hmingle.domain.member.Member" alias="member"/>
        <typeAlias type="com.hyundai.hmingle.domain.member.Token" alias="token"/>
        <typeAlias type="com.hyundai.hmingle.domain.post.Post" alias="post"/>
        <typeAlias type="com.hyundai.hmingle.domain.post.Reply" alias="reply"/>

        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.ReplyUpdateDto" alias="replyUpdateDto"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.response.ChannelGetResponse" alias="channelGetResponse"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.request.ImageCreateRequest" alias="imageCreateRequest"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.request.PostCreateRequest" alias="postCreateRequest"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.response.MemberGetResponse" alias="memberGetResponse"/>
    </typeAliases>
</configuration>