<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!-- SqlSessionTemplate 관련 설정 -->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 별칭 작성 부분 -->
    <typeAliases>

        <!-- domain -->
        <typeAlias type="com.hyundai.hmingle.domain.member.Member" alias="member"/>
        <typeAlias type="com.hyundai.hmingle.domain.member.Token" alias="token"/>
        <typeAlias type="com.hyundai.hmingle.domain.post.Post" alias="post"/>
        <typeAlias type="com.hyundai.hmingle.domain.post.Reply" alias="reply"/>

        <!-- controller request -->
        <typeAlias type="com.hyundai.hmingle.controller.dto.request.ImageCreateRequest" alias="imageCreateRequest"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.request.PostCreateRequest" alias="postCreateRequest"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.request.PostUpdateRequest" alias="postUpdateRequest"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.request.MemberUpdateRequest" alias="memberUpdateDto"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.request.PostUpdateRequest" alias="postUpdateRequest"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.request.MemberUpdateRequest" alias="memberUpdateDto"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.request.PostUpdateRequest" alias="postUpdateRequest"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.request.MemberUpdateRequest" alias="memberUpdateDto"/>

        <!-- controller response -->
        <typeAlias type="com.hyundai.hmingle.controller.dto.response.ChannelGetResponse" alias="channelGetResponse"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.response.MemberGetResponse" alias="memberGetResponse"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.response.PostListGetResponse" alias="postListGetResponse"/>
        <typeAlias type="com.hyundai.hmingle.controller.dto.response.PostListGetResponse" alias="postListGetResponse"/>

        <!-- mapper request -->
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.ReplyUpdateMapperRequest" alias="replyUpdateMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.PostCreateMapperRequest" alias="postCreateMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.PostDeleteMapperRequest" alias="postDeleteMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.ImageUpdateMapperRequest" alias="imageUpdateMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.ImageUpdateMapperRequest" alias="imageUpdateMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.RepliesMapperRequest" alias="repliesMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.ReplyDeleteMapperRequest" alias="replyDeleteMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.MyPostMapperRequest" alias="myPostMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.ImagesMapperRequest" alias="imagesMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.ReplyCreateMapperRequest" alias="replyCreateMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.HeartMapperRequest" alias="heartMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.ImageCreateMapperRequest" alias="imageCreateMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.MemberUpdateMapperRequest" alias="memberUpdateMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.PostDetailMapperRequest" alias="postDetailMapperRequest"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.request.PostUpdateMapperRequest" alias="postUpdateMapperRequest"/>

        <!-- mapper response -->
        <typeAlias type="com.hyundai.hmingle.mapper.dto.response.PostMapperResponse" alias="postMapperResponse"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.response.PostMapperResponse" alias="postMapperResponse"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.response.PostDetailMapperResponse" alias="postDetailMapperResponse"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.response.ReplyMapperResponse" alias="replyMapperResponse"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.response.MyPostMapperResponse" alias="myPostMapperResponse"/>
        <typeAlias type="com.hyundai.hmingle.mapper.dto.response.ReplyCreateMapperResponse" alias="replyCreateMapperResponse"/>

    </typeAliases>
</configuration>
