<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.hmingle.mapper.MemberMapper">

    <insert id="save">
        insert into member(email, nickname, introduction, image_url)
        values ('email', 'nickname', 'introduction', 'image_url');
    </insert>

    <select id="findByEmail" resultType="com.hyundai.hmingle.domain.member.Member">
        select id, email, nickname, introduction, image_url
        from member
        where email = 'email';
    </select>
</mapper>
